{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
  <link rel="stylesheet" href="{% static 'registro/css/home.css' %}" />
{% endblock %}

{% block 'title' %} Home {% endblock %}


{% block 'body' %}
  <header>
    <img src="{% static 'registro/img/NINNA CINZA.png' %}" alt="" />
    <h1>Descrição do Espaço: {{ espaco.nome }}</h1>
  </header>
  <main>
    <div class="div-branca">
      <div class="mae-espacos">
        <div class="espacos">
            <img src="{{ espaco.imagem1.url }}" alt="">
            <h2>{{espaco.nome}}</h2>
            <p>{{ espaco.descricao }}</p>
        </div>
      </div>
  </div>
  <div class="inicio-reserva">
    <h2> Se gostou e quiser reservar o local, siga abaixo.</h2>
    <form action="" class="formulario">
      <div class="conteiner-linha">
        <label for="data"> Escolha uma data:</label>
        <input type="date" name="" id="data">
      </div>

      <div class="conteiner-linha">
        <label for="horario-inicio"> Escolha o horário de inicio: </label>
        <input type="time" name="" id="horario-inicio">
      </div>

      <div class="conteiner-linha">
        <label for="horario-saida"> Escolha o horário de saída: </label>
        <input type="time" name="" id="horario-saida">
      </div>
      <div class="div-botao">
        <input type="submit" value="Escolher horario" class="botao-enviar">
      </div>
    </form>
  </div>
  </main>
  <footer>
    <p>&copy; Coryright NINNA HUB 2022</p>
  </footer>

{% endblock %}
