{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
  <link rel="stylesheet" href="{% static 'registro/css/home.css' %}" />
{% endblock %}

{% block 'title' %} Home {% endblock %}


{% block 'body' %}
  <header>
    <a class="link-logo">
      <img src="{% static 'registro/img/NINNA CINZA.png' %}" alt=""/>
    </a>
    <h1>Gestão de Espaço NINNA HUB</h1>
    <a href="{% url 'login' %}"><p>Time Operacional</p></a>
  </header>
  <main>
    <div class="div-branca">
      <h4>Espaços Disponíveis</h4>
      <div class="mae-espacos">
        {% if espacos %}
        {% for espaco in espacos %}
            <div class="espacos">
                <a href="{% url 'descricao'  espaco.id %}"><p>{{ espaco.nome }}</p></a>
                <img src="{{ espaco.imagem1.url }}" alt="">
            </div>
        {% endfor %}
        {% endif %}
      </div>
  </div>
  </main>
  <footer>
    <div class="mae-rodape">
        <div>
            <p>Telefone:</p>
            <p>Email para contato: contato@ninnahub.com.br </p>
            <p>Estamos localizados na Av. Dom Manuel, 1020 - Centro, Fortaleza - CE, 60060-090</p>
        </div>
        <div class="copy">
          <p>&copy; Coryright NINNA HUB 2022</p>
        </div>
    </div>
  </footer>

{% endblock %}
