{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
  <link rel="stylesheet" href="{% static 'registro/css/home.css' %}" />
{% endblock %}

{% block 'title' %} Home {% endblock %}


{% block 'body' %}
  <header>
    <img src="{% static 'registro/img/NINNA CINZA.png' %}" alt="" />
    <h1>Gestão de Espaço NINNA HUB</h1>
    <a href="{% url 'login' %}"><h4>Admin Console</h4></a>
  </header>
  <main>
    <div class="div-branca">
      <h4>Espaços Disponíveis</h4>
      <div class="mae-espacos">
        {% if espacos %}
        {% for espaco in espacos %}
            <div class="espacos">
                <a href="{% url 'descricao'  espaco.id %}"><p>{{ espaco.nome }}</p></a>
                <img src="{{ espaco.imagem1.url }}" alt="">
            </div>
        {% endfor %}
        {% endif %}
      </div>
  </div>
  </main>
  <footer>
    <p>&copy; Coryright NINNA HUB 2022</p>
  </footer>

{% endblock %}
