<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../tentativa de layout/layout-principal/css.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="pai">
        <img src="../algumas imagens do projeto/NINNA AZUL (1).png" alt="" class="logo">
        <div>
          <h1>Login</h1>
        </div>
        <div class="div-form">
                      
          <form action="login" class="form">
            <div class="div-input">
              <label for="email"> Email:</label>
              <input type="email" name="email" id="email"  class="input-padrao"> 
            </div>  
            <div class="div-input">
              <label for="numero-cpf" class="label-cpf"> CPF:</label>
              <input type="text" class="input-padrao" pattern="/^([0-9]{3}\.?[0-9]{3}\.?[0-9]{3}\-?[0-9]{2}|[0-9]{2}\.?[0-9]{3}\.?[0-9]{3}\/?[0-9]{4}\-?[0-9]{2})$/" name="numero-cpf" id="numero-cpf" required>
            </div>
            <div class="div-input">
              <input type="submit" name="login" placeholder="login" value="Login" id="buton">
            </div>
        </div>
  </div>
        </form>

        </body>
        </html>