{%load static%}
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../tentativa de layout/layout-principal/css.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="pai">
        <img src="../algumas imagens do projeto/NINNA AZUL (1).png" alt="" class="logo">
        <div>
          <h1>Login</h1>
        </div>
        <div class="div-form">
                      
          <form action="{% url 'login' %}" method="POST" class="form">
            {% csrf_token %}
            <div class="div-input">
              <label for="email"> Email:</label>
              <input type="email" name="email" id="email"  class="input-padrao"> 
            </div>  
            <div class="div-input">
              <label for="">Senha</label>
               <input type="password" name="senha">
            </div>
            <div class="div-input">
              <button type="submit" id="buton">Login</button>
            </div>
        </div>
  </div>
        </form>

        </body>
        </html>