{% extends 'base.html' %}
{%load static%}
<html lang="pt-br">
{% block 'head' %}
  <link rel="stylesheet" href="{% static 'registro/css/login.css' %}" />
  <header>
    <img src="{% static 'registro/img/NINNA CINZA.png' %}" alt="" />
    <h1>LOGIN ADM - NINNA HUB</h1>
  </header>
{% endblock %}

{% block 'title' %} Login {% endblock %}

{% block 'body' %}
  <div class="pai">
      <div>
        <h1>Login</h1>
      </div>
        <div class="div-form">            
          <form action="{% url 'login' %}" method="POST" class="form">
              {% csrf_token %}
              <div class="div-input">
                <label for="email"> Email:</label>
                <input type="email" name="email" id="email"  class="input-padrao"> 
              </div>  
              <div class="div-input">
                <label for="">Senha:</label>
                <input type="password" name="senha">
              </div>
              <div class="div-input">
                <button type="submit" id="buton">Login</button>
              </div>
          </form>
        </div>
  </div>
<footer>
  <p>&copy; Coryright NINNA HUB 2022</p>
</footer>

{% endblock %}