<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
</head>
<body>
    <form action="{% url 'registro_adm' %}" method="POST">
        {% csrf_token %}
        <label for="">Nome de Usuario</label>
        <input type="text" name="nome_usuario">
        <label for="">Email</label>
        <input type="email" name="email">
        <label for="">Senha</label>
        <input type="password" name="senha">
        <label for="">Setor</label>
        <select name = "nivel">
            <option value="TOP">Time Operacional</option>
            <option value="RCP">Recepção</option>
        </select>
        <button type="submit">Criar Usuario</button>
    </form>
</body>
</html>