{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
  <link rel="stylesheet" href="{% static 'registro/css/home.css' %}" />
{% endblock %}

{% block 'title' %} EDITAR ESPACO {% endblock %}


{% block 'body' %}
  <header>
    <img src="{% static 'registro/img/NINNA CINZA.png' %}" alt="" />
    <h1>Gestão de Espaço NINNA HUB</h1>
  </header>
  <main>
    <div class="div-branca">
      <h4>Editar Espaço</h4>
      <div class="mae-espacos">
        <form action="{% url 'editar_espaco_id' espaco.id %}" method="POST" enctype="multipart/form-data" accept="image/*">{% csrf_token %} 
            <input type="text" name="nome" value="{{espaco.nome }}"><br><br>
            <textarea type="text" name="descricao">
                {{espaco.descricao }}
            </textarea><br><br>

            <div class="espacos">
                  <img src="{{ espaco.imagem1.url }}" alt="">
                  <input type="file" name="imagem1" value="{{espaco.imagem1 }}"><br><br>
            </div>

            <input type="file" name="imagem2" value="{{espaco.imagem2 }}"><br><br>
            <input type="file" name="imagem3" value="{{espaco.imagem3 }}"><br><br>
            <input type="file" name="imagem4" value="{{espaco.imagem1 }}"><br><br>

            <input type="submit" value="Enviar">
        </form>
      </div>
  </div>
  </main>
  <footer>
    <p>&copy; Coryright NINNA HUB 2022</p>
  </footer>

{% endblock %}















