{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
  <link rel="stylesheet" href="{% static 'registro/css/home.css' %}" />
{% endblock %}

{% block 'title' %} Home {% endblock %}


{% block 'body' %}
  <header>
    <img src="{% static 'registro/img/NINNA CINZA.png' %}" alt="" />
    <h1>Gestão de Espaço NINNA HUB</h1>
  </header>
  <main>
    <div class="div-branca">
      <h4>Espaços Disponíveis</h4>
      <div class="mae-espacos">
        {% if espacos %}
        {% for espaco in espacos %}
            <div class="espacos">
                <p>{{ espaco.nome }}</p>
                <img src="{{ espaco.imagem1.url }}" alt="">
                <form action="{% url 'remover_espaco' espaco.id %}" method="POST">{% csrf_token %}
                    <input type="checkbox" name="deletar">
                    <input type="submit" value="Deletar">
                </form>
            </div>
        {% endfor %}
        {% endif %}
      </div>
  </div>
  </main>
  <footer>
    <p>&copy; Coryright NINNA HUB 2022</p>
  </footer>

{% endblock %}
