body{
  background: url(../img/background.png) center center / cover;
  text-align: center;
}
header {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  border-bottom: 5px solid #57B952;
}

header img {
  width: 15%;
  padding-top: 10px;
}

header h1 {
  padding-top: 70px;
  padding-right: 300px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
#buton{
  width: 15%;
  border-radius: 40px;
  background: #57b952;
  font-weight: bold;
  padding: 5px;
}

#buton:hover {
  color: white;
  transition: 0.2s;
  cursor: pointer;
}

.h1-login {
  color: #57B952;
  font-size: 50px;
}

.logo {
  width: 40%;
  border-bottom: 2px #57b952 solid;
  padding-bottom: 10px;
}

.div-input {
  padding: 5px;
  padding-bottom: 5px;
}

.label-cpf {
  margin-right: 17px;
  padding-top: 15px;
}

.div-input input {
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
}

.div-form{
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  margin-right: 10px;
}


.pai{
  background-color: white;
  width: 40%;
  margin: 0 auto;
  margin-top: 48px;
  padding: 40px;
  border-radius: 35px;
  box-shadow: 10px 5px 5px #57B952;
}
  